<!-- <div>
  <img src="{{ imageURL }}" alt="NDSU logo" width="450px" />
</div>

<input type="text" placeholder="Phone number" #phoneNumber (keyup)="(0)" />
<p>{{ phoneNumber.value }}</p>

<img [src]="imageURL" alt="A smaller NDSU logo" width="200px" /> -->

<!-- 
<div>
  <div
    [class.special]="isSpecial"
    (mouseover)="onMouseOver()"
    (mouseout)="onMouseOver()"
    (click)="onClick()"
    [style.font-size]="fontSize"
  >
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quidem.
    Expedita laboriosam quia consequatur magni, placeat non. Hic illum
    distinctio ab labore optio ipsa enim, saepe commodi perspiciatis quos
    molestias.
  </div>
  <div>
    Commodi voluptatum reiciendis facere ratione necessitatibus blanditiis nobis
    asperiores quibusdam, et quaerat tempore repudiandae. Dolor commodi
    consequatur quo eum, architecto mollitia voluptas fugit rerum deleniti
    molestias! Accusamus cumque odio amet?
  </div>
  <div [class.special]="isSpecial">
    Fuga nostrum corrupti illo illum voluptatum perferendis minus possimus atque
    quas dicta autem dolore voluptatem similique, praesentium laboriosam ullam
    quia at quos et officiis. Temporibus sit earum id numquam doloribus!
  </div>
</div> -->

<input type="text" placeholder="Username" [(ngModel)]="username" />
<p>{{ username }}</p>
